certifi==2023.11.17
charset-normalizer==3.3.2
comtypes==1.2.0
fpdf==1.7.2
idna==3.6
Levenshtein==0.23.0
Pillow==10.1.0
pypiwin32==223
python-barcode==0.15.1
python-Levenshtein==0.23.0
pyttsx3==2.90
pywin32==306
rapidfuzz==3.5.2
requests==2.31.0
urllib3==2.1.0
